
  #a {
  background-color:#12232E;
  }
  #b{
    background-color:#007CC7;
  }
  #c{
    background-color:#4DA8DA;
  }
  #d{
    background-color:#203647;  
  }
  #e{
    background-color:#12232E;  
  }
  #f{
    background-color:#4DA8DA;  
  }
  #g{
    background-color:#007CC7;  
  }
  #h{
    background-color:#12232E;  
  }
  #i{
    background-color:#007CC7;  
  }
  @media (min-width: 599px) {
    #a {
      background-color:#223d39;
    }
      #b{
        background-color:#4DA8DA;
      }
      #c{
        background-color:yellow;
      }
      #d{
        background-color:blue;  
      }
      #e{
        background-color:#203647;  
      }
      #f{
        background-color:grey;  
      }
      #g{
        background-color:greenyellow;  
      }
      #h{
        background-color:#2d7e0f;  
      }
      #i{
        background-color:#569440;  
      }
  }
  
@media (min-width: 799px) {
  #a {
    background-color:#164A41;
  }
    #b{
      background-color:#4D774E;
    }
    #c{
      background-color:#9DC88D;
    }
    #d{
      background-color:#F1B24A;  
    }
    #e{
      background-color:grey;  
    }
    #f{
      background-color:#4D774E;  
    }
    #g{
      background-color:purple;  
    }
    #h{
      background-color:#9DC88D;  
    }
    #i{
      background-color:#9DC88D;  
    }
}
