
@media all and (max-width: 599px) {

.grid-wrapper {
  display: grid;
  grid-template-columns: 15em 15em;
  grid-template-rows: 4.6875em 9.375em 7.8125em 7.8125em 15.625em 15.625em 5em;
}

  .itema {
    grid-column-start: 1;
    grid-column-end: 3;
   grid-row-start:1;
   grid-row-end: 2;
   }
   .itemb {
    grid-column-start: 1;
    grid-column-end: 3;
     grid-row-start:2;
     grid-row-end: 3; 
   }
   .itemc {
    grid-column-start: 1;
    grid-column-end: 3;
     grid-row-start:3;
     grid-row-end: 4; 
   }
   .itemd {
    grid-column-start: 1;
    grid-column-end: 3;
     grid-row-start:4;
     grid-row-end: 5; 
   }
   .iteme {
     grid-column-start: 1;
     grid-column-end: 2;
     grid-row-start:5;
     grid-row-end: 6; 
   }
   .itemf{
     grid-column-start: 2;
     grid-column-end: 3;
     grid-row-start:5;
     grid-row-end: 6;
   } 
   .itemg {
     /* grid-column-start: 4;
     grid-column-end: 5; */
     grid-row-start:6;
     grid-row-end: 7;
   } 
   .itemh {
     /* grid-column-start: 5;
     grid-column-end: 6; */
     grid-row-start:6;
     grid-row-end: 7;
   }
   .itemi {
    grid-column-start: 1;
    grid-column-end: 3;
   grid-row-start:7;
   grid-row-end: 8;
   }
  }

/* Medium screens */
@media all and (min-width: 600px) and (max-width:799px) {
  /* We tell both sidebars to share a row */
  .grid-wrapper {
    display: grid;
    grid-template-columns: 15em 15em;
    grid-template-rows: 4.6875em 9.375em 7.8125em 7.8125em 15.625em 15.625em 5em;
  }
  
    .itema {
      grid-column-start: 1;
      grid-column-end: 3;
     grid-row-start:1;
     grid-row-end: 2;
     }
     .itemb {
      grid-column-start: 1;
      grid-column-end: 3;
       grid-row-start:2;
       grid-row-end: 3; 
     }
     .itemc {
      grid-column-start: 1;
      grid-column-end: 3;
       grid-row-start:3;
       grid-row-end: 4; 
     }
     .itemd {
      grid-column-start: 1;
      grid-column-end: 3;
       grid-row-start:4;
       grid-row-end: 5; 
     }
     .iteme {
       grid-column-start: 1;
       grid-column-end: 2;
       grid-row-start:5;
       grid-row-end: 6; 
     }
     .itemf{
       grid-column-start: 2;
       grid-column-end: 3;
       grid-row-start:5;
       grid-row-end: 6;
     } 
     .itemg {
       /* grid-column-start: 4;
       grid-column-end: 5; */
       grid-row-start:6;
       grid-row-end: 7;
     } 
     .itemh {
       /* grid-column-start: 5;
       grid-column-end: 6; */
       grid-row-start:6;
       grid-row-end: 7;
     }
     .itemi {
      grid-column-start: 1;
      grid-column-end: 3;
     grid-row-start:7;
     grid-row-end: 8;
     }
    }
  

/* Large screens */
@media all and (min-width: 800px) {
  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
   .grid-wrapper{
   display: grid;
   grid-template-columns: 12.5em 11.875em 11.875em 11.875em 11.875em;
   grid-template-rows: 6.25em 12.5em 15.625em 9.375em;
   }

   .itema {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start:1;
    grid-row-end: 2;
    }
    .itemb {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start:2;
      grid-row-end: 5; 
    }
    .itemc {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start:2;
      grid-row-end: 3; 
    }
    .itemd {
      grid-column-start: 4;
      grid-column-end: 6;
      grid-row-start:2;
      grid-row-end: 3; 
    }
    .iteme {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start:3;
      grid-row-end: 4; 
    }
    .itemf{
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start:3;
      grid-row-end: 4;
    } 
    .itemg {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start:3;
      grid-row-end: 4;
    } 
    .itemh {
      grid-column-start: 5;
      grid-column-end: 6;
      grid-row-start:3;
      grid-row-end: 4;
    }
    .itemi {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start:4;
    grid-row-end: 5;
    }
}
